<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Producto Concreto</title>
</head>
<body>
     <h1>Producto concreto</h1>
     <table border="1">
         <tr>
             <th>ID</th>
             <th>Nombre</th>
             <th>Precio</th>
         </tr>
         <tr>
             <th th:text="'ID del producto:' + ${producto.id}"></th>
             <th th:text=" ${producto.nombre}"></th>
             <th th:text=" ${producto.precio}"> ></th>
         </tr>


     </table>
</body>
</html>